<% layout("/layouts/boilerplates") %>

<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 <%- include("./flash.ejs") %>
  <div class="main flex flex-wrap gap-8 justify-center p-5 widthset">
    <% for (let user of alluser) { %>
    <div class="w-80 m-2.5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img 
          class="rounded-t-lg object-cover w-full h-48" 
          src="<%= user.room %>" 
          alt="upload image" 
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h6 class="mb-1 text-2xl font-medium tracking-tight text-gray-900 dark:text-white">
            <%= user.first_name %>
          </h6>
        </a>
        <p class="mb-2 text-sm font-normal text-gray-700 dark:text-gray-400">
          Gender: <%= user.gender %>
        </p>
        <p class="mb-2 text-sm font-light text-gray-700 dark:text-gray-400">
          Location: <%= user.city %>, <%= user.state %>, <%= user.pin %>
        </p>
        <p class="mb-4 text-lg font-semibold text-green-600 dark:text-green-400">
          Room: ₹<%= user.budget %>
        </p>
        <a 
          href="/user/<%= user._id %>" 
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
    </div>
    <% } %>
  </div>
</body>
